@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <h1>Un directorio práctico para encontrar lo que necesitas comprar</h1>
        <h2>Consume lo Nica!</h2>
        <a href="#about" class="btn-get-started scrollto">Ver Categorías</a>
    </div>
</section>